nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul {
    display: flex;
    list-style: none;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: #050E72;
    position: relative;
    font-family: Century Gothic;
    text-transform: capitalize;
    word-spacing: 1.5;
    font-weight: bold;
  }
  
  a:hover:before {
    width: 100%;
  }
  
  a:before {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 2.5px;
    width: 0;
    transition: all 0.3s ease;
    background-color: #E11652;
  }
  
  .underline {
    height: 2px;
    background-color: #E11652;
    transition: all 0.3s ease;
  }
  
  
  
  
  