.checklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .checklist-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .checklist-popup {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .checklist-item:hover .checklist-popup {
    display:contents;
  }  

  .button-styles{
    border:none;
    background-color: #050E72;
    color:white;
    border-radius: 70%;
    font-family: Century Gothic;
    font-size: 300%;
    height: 1000%;
    font-weight: bold;
    width: 100%;
  }