.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-left: auto;
    margin-right: 130px;
  }
  
  .video {
    margin-bottom: 50px;
    min-height: 10px;
  }
  h2{
    color: #050e72;
    text-align: left;
    font-family: Century Gothic;
    font-weight: bold;
  }
