.VLPage {
    margin-bottom: 100px;
    overflow-y: scroll;
}


.VLTitle {
    text-align: left;
    margin-left: 10%;
    font-family: 'Century Gothic';
}

.VLSec {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 20%;
  }
  
  .VLSections {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .VLSections:hover {
    transform: translateX(20px);
  }
  
  .VLSections:first-child {
    margin-top: 0;
  }
  
  .VLSections:last-child {
    margin-bottom: 0;
  }
  
  h2 {
    margin-top: 0;
  }
  
  p {
    margin-bottom: 0;
  }