.text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 35%;
    color: #050E72;
    background-color: transparent;
    margin-left: 130px;
  }


  
  p {
    text-align:justify;
    color: #050E72;
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 14px;
  }
  h2{
    color:#050E72;
    text-align: left;
    font-family: Century Gothic;
    font-weight: bold;
  }

  .body-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;
  }

  